html, body {
    margin: 0;
    font-family: "sans-serif";
    background-color: #272822;
    color: #FEFEFE;

    min-width: 1030px;
    height: 100%;
}

.wrapper
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.topBox
{
    margin: 0 auto;
}

.topBox .topBar
{
    height: 60px;
    width: 1000px;
    padding: 20px 0 0 0;
    margin: 20px auto 0;
}

.topBox .topBar .logo
{
    height: 35px;
    width: 118px;
    background-image: url("../image/logo.svg");
    display: block;
    overflow: hidden;
    float: left;
}

.topBox .topBar .topList
{
    float: left;
    padding-left: 20px;
    margin-top: 6px;
}

.topBox .topBar .topList li
{
    float: left;
    font-size: 20px;
    padding:  0 20px;
    list-style: none;
}

.topBox .topBar .topList li a
{
    color: #4ba733;
    text-decoration: none;
}

.topBox .topBar .searchBox
{
    margin: 0;
    padding: 0;
    float: left;
    background-color: #ffffff;
}

.topBox .topBar .searchBox input
{
    height: 30px;
    border: 0;
    float: left;
    outline: 0;
}

.topBox .topBar .searchBox .submit
{
    height: 23px;
    padding: 0;
    width: 31px;
    background: #ffffff url("../image/5-icon.png") no-repeat scroll 9px -52px;
}

.midBox
{
    background-color: whitegray;
}

.bottomBox
{
    background-color: orange;
}
