html, body {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
    background-color: #272822;
    color: #FEFEFE;

    min-width: 1030px;
    height: 100%;
}

.wrapper
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.topBox
{
    margin: 0 auto;
}

.topBox .topBar
{
    width: 1000px;
    height: 60px;
    padding: 20px 0 0 0;
    margin: 0 auto;
    margin-bottom: 10px;
}

.topBox .topBar .logo
{
    height: 35px;
    width: 118px;
    background-image: url("../image/logo.svg");
    display: block;
    overflow: hidden;
    float: left;
}

.topBox .topBar .topList
{
    float: left;
    padding-left: 20px;
    margin-top: 6px;
}

.topBox .topBar .topList li
{
    float: left;
    font-size: 20px;
    padding:  0 15px;
    list-style: none;
}

.topBox .topBar .topList li a
{
    color: #4ba733;
    text-decoration: none;
}

.topBox .topBar .searchBox
{
    margin: 0 0 0 60px;
    padding: 0 20px;
    float: left;
    background-color: #ffffff;
}

.topBox .topBar .searchBox input
{
    height: 30px;
    border: 0;
    float: left;
    outline: 0;
}

.topBox .topBar .searchBox .submit
{
    height: 23px;
    padding: 0;
    width: 31px;
    background: #ffffff url("../image/5-icon.png") no-repeat scroll 9px -49px;
}

.topBox .topBar .searchBox .submit:hover
{
    height: 23px;
    padding: 0;
    width: 31px;
    background: #ffffff url("../image/5-icon.png") no-repeat scroll 9px -93px;
}

.topBox .loginBar
{
    width:;
    height: 175px;
    text-align: center;
    margin-bottom: 28px;
    background-color: #333333;
}

.topBox .loginBar .loginBarContentWrapper
{
    padding-top: 57px;
}

.topBox .loginBar .loginBarContentWrapper span
{
    font-size: 21px;
    margin-right: 20px;
}

.topBox .loginBar .loginBarContentWrapper a
{
    padding: 15px 42px;
    margin-right: 15px;
    font-size: 21px;
    text-decoration: none;
    color: white;
    background-color: #88c833;
}

.midBox
{
    background-color: whitegray;
}

.bottomBox
{
    background-color: orange;
}
